In [12]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [13]:
#tabelul luat din csv
url = "https://raw.githubusercontent.com/lauradiosan/AI-UBB/main/2024-2025/labs/lab02/data/surveyDataSience.csv"
response = requests.get(url)

with open("surveyDataSience.csv", "wb") as file:
    file.write(response.content)
df_date = pd.read_csv('surveyDataSience.csv',delimiter=',', low_memory=False, skiprows=[1])
df_date.head(10)

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1020,25-29,Woman,India,I prefer not to answer,Currently not employed,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,Guild.ai,NaN,NaN,NaN,MLflow,NaN,NaN
6,141,18-21,Woman,India,Some college/university study without earning ...,Student,1-3 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,484,30-34,Man,India,Bachelor’s degree,Data Scientist,5-10 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1744,22-24,Man,Russia,Bachelor’s degree,Currently not employed,3-5 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,655,30-34,Man,Turkey,I prefer not to answer,Other,1-3 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#numarul de respondenti (de la care s-au colectate informatiile)
def nr_respondenti_func():
    nr_respondenti=df_date.shape[0]
    print('Nr de respondenti:',nr_respondenti)
    return nr_respondenti
nr_respondenti_func()

Nr de respondenti: 25973

25973

In [ ]:
#numar si tipul informatiilor (atributelor, proprietatilor) detinute pentru un respondent
def informatii_func():
    nr_info=df_date.shape[1]
    tip_info=df_date.dtypes
    print('Nr de informatii: {} si tipul lor: {}'.format(nr_info, tip_info))
    return nr_info, tip_info
informatii_func()

In [ ]:
#numarul de respondenti pentru care se detin date complete
def date_complete_func():
    date_complete=df_date.notnull().all(axis=1).sum()
    print('Nr de respondenti cu date complete: ',date_complete)
    return date_complete
date_complete_func()

In [ ]:
#durata medie a anilor de studii superioare pentru acesti respondenti (cea efectiva sau cea estimata)
def durata_medie_func():
    map_ed={"Master’s degree":5,"Doctoral degree":8,"Bachelor’s degree":3}
    df_date["educatie"]=df_date["Q4"].map(map_ed)
    durata_medie=df_date["educatie"].mean()
    print('Durata medie pt studii superioare: ',durata_medie)
    return durata_medie

#durata medie a anilor de studii pentru respondentii din Romania si durata medie a anilor de studii pentru respondentii din Romania care sunt femei. 
def durata_medie_ro_func():
    map_ed={"Master’s degree":5,"Doctoral degree":8,"Bachelor’s degree":3}
    df_date["educatie"]=df_date["Q4"].map(map_ed)
    df_ro=df_date[df_date.Q3=="Romania"]
    durata_medie2=df_ro["educatie"].mean()
    print('Durata medie pt studii superioare din Romania:',durata_medie2)
    return durata_medie2

def durata_medie_ro_femei_func():
    map_ed={"Master’s degree":5,"Doctoral degree":8,"Bachelor’s degree":3}
    df_date["educatie"]=df_date["Q4"].map(map_ed)
    df_ro=df_date[df_date.Q3=="Romania"]
    df_femei=df_ro[df_ro.Q2=="Woman"]
    durata_medie3=df_femei["educatie"].mean()
    print('Durata medie pt studii superioare a femeilor din Romania: ',durata_medie3)
    return durata_medie3

durata_medie_func()
durata_medie_ro_func()
durata_medie_ro_femei_func()

#Comparati rezultatele obtinute pentru cele trei grupuri de respondenti. Se presupune ca studiile de licenta dureaza 3 ani, cele de master 2 ani si cele de doctorat 3 ani.
def comparatie_func():
    durata_medie=durata_medie_func()
    durata_medie2=durata_medie_ro_func()
    durata_medie3=durata_medie_ro_femei_func()
    if durata_medie > durata_medie2:
        print("Studiul total depaseste media romanilor.")
    elif durata_medie < durata_medie2:
        print("Studiul total este sub media romanilor.")
    else:
        print("Studiul total este egal cu media romanilor.")
    
    if durata_medie2 > durata_medie3:
        print("Romanii au mai multi ani de studiu decat femeile din Romania.")
    elif durata_medie2 < durata_medie3:
        print("Femeile din Romania au mai multi ani de studiu decat romanii.")
    else:
        print("Romanii si femeile din Romania au aceeasi medie de ani de studiu.")
    
    if durata_medie > durata_medie3:
        print("Studiul total depaseste media femeilor din Romania.")
    elif durata_medie < durata_medie3:
        print("Studiul total este sub media femeilor din Romania.")
    else:
        print("Studiul total este egal cu media femeilor din Romania.")
comparatie_func()

In [ ]:
#numarul de respondenti femei din Romania pentru care se detin date complete
def date_complete_femei_func():
    map_ed={"Master’s degree":5,"Doctoral degree":8,"Bachelor’s degree":3}
    df_date["educatie"]=df_date["Q4"].map(map_ed)
    df_ro=df_date[df_date.Q3=="Romania"]
    df_femei=df_ro[df_ro.Q2=="Woman"]
    date_complete_femei=df_femei.notnull().all(axis=1).sum()
    print('Nr de respondenti femei cu date complete: ',date_complete_femei)
    return date_complete_femei
date_complete_femei_func()

In [ ]:
#numarul de femei din Romania care programeaza in Python, precum si intervalul de varsta cu cele mai multe femei care programeaza in Python? 
def df_femei_python_func():
    map_ed={"Master’s degree":5,"Doctoral degree":8,"Bachelor’s degree":3}
    df_date["educatie"]=df_date["Q4"].map(map_ed)
    df_ro=df_date[df_date.Q3=="Romania"]
    df_femei=df_ro[df_ro.Q2=="Woman"]
    df_femei_python=df_femei[df_femei.Q7_Part_1=="Python"]
    nr_python=df_femei_python.shape[0]
    print('Nr de femei din Romania ce folosesc Python: ',nr_python)
    interval=df_femei_python['Q1'].value_counts().idxmax()
    print('Interval de varsta: ',interval)
    return nr_python, interval
df_femei_python_func()


#Dar in C++? 
def df_femei_c_func():
    map_ed={"Master’s degree":5,"Doctoral degree":8,"Bachelor’s degree":3}
    df_date["educatie"]=df_date["Q4"].map(map_ed)
    df_ro=df_date[df_date.Q3=="Romania"]
    df_femei=df_ro[df_ro.Q2=="Woman"]
    df_femei_c=df_femei[df_femei.Q7_Part_5=="C++"]
    nr_c=df_femei_c.shape[0]
    print('Nr de femei din Romania ce folosesc C++: ',nr_c)
    interval2=df_femei_c['Q1'].value_counts().idxmax()
    print('Interval de varsta: ',interval2)
    return nr_c, interval2
df_femei_c_func()  

#Comparati rezultatele obtinute pentru cele doua limbaje de programare.
def comparatie2_func():
    nr_python, interval=df_femei_python_func()
    nr_c, interval2=df_femei_c_func()  
    if nr_python > nr_c:
        print("Mai multe femei din Romania folosesc Python decat C++.")
    elif nr_python < nr_c:
        print("Mai multe femei din Romania folosesc C++ decat Python.")
    else:
        print("Numarul de femei care folosesc Python si C++ este egal.")
    
    if interval == interval2:
        print("Cele mai multe femei care programeaza in Python si C++ sunt in acelasi interval de varsta.")
    else:
        print("Intervalul de varsta dominant difera: Python ({}) vs. C++ ({}).".format(interval,interval2))
comparatie2_func()

In [ ]:
#domeniul de nr_c, interval2 posibile si valorile extreme pentru fiecare atribut/proprietate (feature). 
#In cazul proprietatilor nenumerice, cate valori posibile are fiecare astfel de proprietate
def valori_func():
    for column in df_date.columns:
        print("Caracteristicile pentru coloana: ", column)
        if pd.api.types.is_numeric_dtype(df_date[column]):
            mini= df_date[column].min()
            maxi = df_date[column].max() 
            print("Domeniul de valori: {}-{} ".format(mini, maxi))
        else:
            posibil = df_date[column].unique()
            print("Valori posibile: ", len(posibil))
valori_func()

In [ ]:
#transformati informatiile despre vechimea in programare in numar de ani (folositi in locul intervalului, mijlocul acestuia) si apoi calculati momentele de ordin 1 si 2 pentru aceasta variabila (minim, maxim, media, deviatia standard, mediana). Ce se poate spune despre aceasta variabila?
def vechime_func():
    map_v = {"< 1 years": 0.5,"1-3 years": 2, "3-5 years": 4, "5-10 years": 7.5, "10-20 years": 15, "20+ years": 30}
    df_date["vechime"] = df_date["Q6"].map(map_v)
    mini = df_date['vechime'].min()
    maxi = df_date['vechime'].max()
    media = df_date['vechime'].mean()
    deviatia = df_date['vechime'].std()
    median = df_date['vechime'].median()
    print("Vechimea în programare - Min: ", mini, "Max: ",maxi, "Media: ",media, "STD: ",deviatia," Mediana: ", median)

vechime_func()

In [39]:
def conversie(varsta):
    if varsta == '70+':
        return 75 
    else:
        start, end = map(int, varsta.split('-'))
        return (start + end) / 2

In [ ]:
#distributia respondentilor care programeaza in Python pe categorii de varsta
def distributia_python_func():
    bins = [18, 22, 25, 30, 35, 40, 45, 50, 55, 60, 70, 100]
    labels = ['18-21', '22-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-69', '70+']
    python = df_date[(df_date.Q7_Part_1=="Python")].copy()
    python.loc[:, 'mijloc'] = python['Q1'].apply(conversie)
    python.loc[:, 'varsta'] = pd.cut(python['mijloc'], bins=bins, labels=labels, right=False)
    distributia = python['varsta'].value_counts()
    plt.figure(figsize=(10, 5))
    distributia.sort_index().plot(kind='bar', color='pink')
    plt.title('Respondenti care programeaza in Python')
    plt.xlabel('Varsta')
    plt.ylabel("Nr respondenti")
    plt.show()
distributia_python_func()

In [ ]:
#distributia respondentilor din Romania care programeaza in Python pe categorii de varsta
def distributia_python_ro_func():
    bins = [18, 22, 25, 30, 35, 40, 45, 50, 55, 60, 70, 100]
    labels = ['18-21', '22-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-69', '70+']
    python = df_date[(df_date.Q7_Part_1=="Python") & (df_date.Q3=="Romania")].copy()
    python.loc[:, 'mijloc'] = python['Q1'].apply(conversie)
    python.loc[:, 'varsta'] = pd.cut(python['mijloc'], bins=bins, labels=labels, right=False)
    distributia = python['varsta'].value_counts()
    plt.figure(figsize=(10, 5))
    distributia.sort_index().plot(kind='bar', color='pink')
    plt.title("Respondenti care programeaza in Romania in Python")
    plt.xlabel("Varsta")
    plt.ylabel("Nr respondenti")
    plt.show()
distributia_python_ro_func()

In [ ]:
#distributia respondentilor femei din Romania care programeaza in Python pe categorii de varsta
def distributia_python_ro_emei_func():
    bins = [18, 22, 25, 30, 35, 40, 45, 50, 55, 60, 70, 100]
    labels = ['18-21', '22-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-69', '70+']
    python = df_date[(df_date.Q7_Part_1=="Python") & (df_date.Q3=="Romania") & (df_date.Q2=="Woman")].copy()
    python.loc[:, 'mijloc'] = python['Q1'].apply(conversie)
    python.loc[:, 'varsta'] = pd.cut(python['mijloc'], bins=bins, labels=labels, right=False)
    distributia = python['varsta'].value_counts()
    plt.figure(figsize=(10, 5))
    distributia.sort_index().plot(kind='bar', color='pink')
    plt.title("Respondenti femei care programeaza in Romania in Python")
    plt.xlabel("Varsta")
    plt.ylabel("Nr respondenti")
    plt.show()
distributia_python_ro_emei_func()

In [ ]:
#respondentii care pot fi considerati "outlieri" din punct de vedere al vechimii in programare (puteti folositi un boxplot pentru a identifica aceste valori)
def outlieri_func():
    python = df_date[(df_date.Q7_Part_1=="Python")].copy()
    python = python[python['Q1'].str.contains(r'\d+-\d+', na=False)]
    python.loc[:, 'mijloc'] = python['Q1'].apply(conversie)
    Q1 = python['mijloc'].quantile(0.25)
    Q2 = python['mijloc'].quantile(0.75)
    IQR = Q2 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q2 + 1.5 * IQR
    outliers = python[(python['mijloc'] < lower_limit) | (python['mijloc'] > upper_limit)]
    plt.figure(figsize=(8, 6))
    plt.boxplot(python['mijloc'], vert=False)
    plt.title('Respondenti care programeaza in Python')
    plt.xlabel('Varsta')
    plt.show()
    plt.figure(figsize=(8, 6))
    plt.boxplot(python['mijloc'], vert=False)
    plt.scatter(outliers['mijloc'], [1] * len(outliers), color='red', zorder=5, label="Outliers")
    plt.title('Respondenti care programeaza in Python')
    plt.xlabel('Varsta')
    plt.legend()
    plt.show()
outlieri_func()